In [ ]:
import pandas as pd
from pandas import set_option
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
df =pd.read_csv("/content/Shark Tank India (1).csv")

In [ ]:
df.head()

In [ ]:
df.info()  #   yes in  this   column  null values can be accepted and   are  indeed  required

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.isnull().sum() #   yes sum  values  are but obvious  to  the zero  we  do not  need  to  fill them

Started  to analyze  the  shark tank  india show

In [ ]:
print(df['Season Number'].max(),"season")
print(df['Episode Number'].max(),"episode")
print(df['Pitch Number'].max(),"Pitch Number")
print(df['Episode Number'].value_counts().sort_values(ascending=True).unique(),"Number per episode")

In [ ]:
#  now we  want  to analyses about the pitchers  city 
print(df['Pitchers City'].value_counts())
# fig=plt.figure(figsize=(23,30))
# wx=sns.countplot(x='Pitchers City',data=df,order=df['Pitchers City'].value_counts().index)
# wx.set_title('Shark Tank  india')

In [ ]:
print(df['Started in'].value_counts())
fig =plt.figure(figsize=(20,10))
px =sns.countplot(x='Started in',data=df,order=df['Started in'].value_counts().index)
px.set_title('Shark  Tank  Started in  date')

In [ ]:
print(df['Industry'].value_counts())
# fig =plt.figure(figsize=(30,40))
# yx =sns.countplot(x='Industry',data =df ,order=df['Industry'].value_counts().index)
# yx.set_title('Shark Tank India ')

In [ ]:
print(df['Number of Presenters'].sum(),"Total Number of pitchers")
print(df['Male Presenters'].sum(),"Total Number of Male Pitchers")
print(df['Female Presenters'].sum(),"Total Number of Female Pitchers")

In [ ]:
round(df['Male Presenters'].sum()/df['Number of Presenters'].sum()*100)

In [ ]:
# now we  will  calculate the  percentage of the male     and female  entree  in the  whole   scenairo 
round(df['Male Presenters'].sum()/df['Number of Presenters'].sum()*100)

In [ ]:
round(df['Female Presenters'].sum()/df['Number of Presenters'].sum()*100)

Highest revenue   bransds  in the shark tank indi

In [ ]:

import plotly.express as px

In [ ]:
print(df.groupby('Startup Name')['Yearly Revenue'].max().nlargest(10))
#  to make the  bar graph order batanna padega
tmdf =df.sort_values('Yearly Revenue',ascending=False)[0:10]
fig =px.bar(tmdf,x="Startup Name",y="Yearly Revenue",color ="Startup Name",title="Highest Margin start up",template='plotly_dark')

fig.show()

In [ ]:
# how   to group the  by the starty up name 

print(df.groupby('Startup Name')['Yearly Revenue'].max().nlargest(10))
#tmdf 
tmdf= df.sort_values('Yearly Revenue',ascending =False)[0:10]
fig =px.bar(tmdf,x="Startup Name",y="Yearly Revenue",color ="Startup Name",title ="Higest  by revenue",template ='plotly_dark')
fig.show()

In [ ]:
# now we will make acc   to thht grosss margins

In [ ]:
print(df.groupby('Startup Name')['Gross Margin'].max().nlargest(10))
tmf=df.sort_values('Gross Margin',ascending=False)[0:10]
dd=px.bar(tmf,x="Startup Name",y="Gross Margin",color="Startup Name",title="Highest gross margi",template='plotly_dark')
dd.show()

In [ ]:
print(df.groupby('Startup Name')['Gross Margin'].max().nlargest(10))
tmf =df.sort_values('Gross Margin',ascending=False)[0:10]
dd =px.bar(tmf,x="Startup Name",y="Gross Margin" ,color ="Startup Name",title="Highesy  gross margin",template='plotly_dark')
dd.show()

In [ ]:
df.columns

now we  will  calculate the  indiviaula  contribution  from  a  shark we will make everyone personal portfolio

In [ ]:
#   for ashneer  portfolio  we  can  just use the ashneer  investment as true and  then   yes in all  the industry '

Ashneer  portfolio

In [ ]:
print(df[df['Ashneer Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))

# we  have to plot  thrt
tmdf=df.loc[df['Ashneer Investment Amount']>0] [[ "Startup Name" ,"Ashneer Investment Amount","Ashneer Investment Equity"]].sort_values(by="Ashneer Investment Equity")
fig =px.bar(tmdf,x="Ashneer Investment Equity",y="Ashneer Investment Amount",color="Startup Name" ,title ="Total amount vs equity received",template='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

In [ ]:
print(df[df['Anupam Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))
tmdf =df.loc[df['Anupam Investment Amount']>0] [["Startup Name","Anupam Investment Amount","Anupam Investment Equity"]].sort_values(by="Anupam Investment Equity")
fig =px.bar(tmdf,x="Anupam Investment Equity",y="Anupam Investment Amount",color="Startup Name",title ="Total amount vs equity received",template ='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

In [ ]:
print(df[df['Vineeta Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))
tmdf =df.loc[df['Vineeta Investment Amount']>0] [["Startup Name","Vineeta Investment Amount","Vineeta Investment Equity"]].sort_values(by="Vineeta Investment Equity")
fig =px.bar(tmdf,x="Vineeta Investment Equity",y="Vineeta Investment Amount",color="Startup Name",title ="Total amount vs equity received",template ='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

In [ ]:
print(df[df['Aman Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))
tmdf =df.loc[df['Aman Investment Amount']>0] [["Startup Name","Aman Investment Amount","Aman Investment Equity"]].sort_values(by="Aman Investment Equity")
fig =px.bar(tmdf,x="Aman Investment Equity",y="Aman Investment Amount",color="Startup Name",title ="Total amount vs equity received",template ='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

In [ ]:
df.columns

In [ ]:
print(df[df['Peyush Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))
tmdf =df.loc[df['Peyush Investment Amount']>0] [["Startup Name","Peyush Investment Amount","Peyush Investment Equity"]].sort_values(by="Peyush Investment Equity")
fig =px.bar(tmdf,x="Peyush Investment Equity",y="Peyush Investment Amount",color="Startup Name",title ="Total amount vs equity received",template ='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

In [ ]:
print(df[df['Namita Investment Amount']>0]['Industry'].value_counts().sort_values(ascending=False))
tmdf =df.loc[df['Namita Investment Amount']>0] [["Startup Name","Namita Investment Amount","Namita Investment Equity"]].sort_values(by="Namita Investment Equity")
fig =px.bar(tmdf,x="Namita Investment Equity",y="Namita Investment Amount",color="Startup Name",title ="Total amount vs equity received",template ='plotly_dark')
fig.update_layout(dict(xaxis = dict(type="category")))
fig.show()

# now we are  just creating the individual sharks   portfolio     for the   format in the   csv   format of the   following

In [ ]:
# creating the    portfolio of  shark   piyyush bansal 
print("Piyush Bansal Total Investment :--" , df[df['Peyush Investment Amount']>0]['Peyush Investment Amount'].count())
print("Amount Total Invested by Bansal:",df['Peyush Investment Amount'].sum()/100,"crr")
print("Equity received by Peyush", round(df['Peyush Investment Equity'].sum(), 2), "% in different companies\n")
print("Debt/loan amount by Peyush", round(df['Peyush Debt Amount'].sum()/100, 2), "crores\n")
txt=df.loc[df['Peyush Investment Amount']>0][["Startup Name","Industry","Peyush Investment Amount"]].reset_index()
txt

In [ ]:
a=np.array(txt)
a

In [ ]:
import pickle
import csv

# open the file in the write mode
titles=[	'index	Startup Name'	,'Industry'	,'Peyush Investment Amount']
x = np.delete(a , (), axis=0)
x
with open(r'C:\Users\anshr\OneDrive\Desktop\Shark_Tank\PBBBB.csv', 'w') as f:
    # create the csv writer
    writer = csv.writer(f)
    writer.writerow(titles)
    # write a row to the csv file
    writer.writerows(x)

In [ ]:
print("Aman Gupta Total Investment :---", df[df['Aman Investment Amount']>0]['Aman Investment Amount'].count())
print("Amount Total Invested by Bansal:",df['Aman Investment Amount'].sum()/100,"crr")
print("Equity received by Peyush", round(df['Aman Investment Equity'].sum(), 2), "% in different companies\n")
print("Debt/loan amount by Peyush", round(df['Aman Debt Amount'].sum()/100, 2), "crores\n")
print(df.loc[df['Aman Investment Amount']>0][["Startup Name","Industry","Aman Investment Amount"]].reset_index())

In [ ]:
print("Anupam  Total Investment :---", df[df['Anupam Investment Amount']>0]['Anupam Investment Amount'].count())
print("Amount Total Invested by Anupam:",df['Anupam Investment Amount'].sum()/100,"crr")
print("Equity received by Peyush", round(df['Anupam Investment Equity'].sum(), 2), "% in different companies\n")
print("Debt/loan amount by Peyush", round(df['Anupam Debt Amount'].sum()/100, 2), "crores\n")
er=df.loc[df['Anupam Investment Amount']>0][["Startup Name","Industry","Anupam Investment Amount"]].reset_index()

In [ ]:
essf=np.array(er)

In [ ]:
import pickle
import csv

# open the file in the write mode
titles=[	'index	Startup Name'	,'Industry'	,'Anupam Mittal Investment Amount']
x = np.delete(essf , (), axis=0)
x
with open(r'C:\Users\anshr\OneDrive\Desktop\Shark_Tank\ANupam.csv', 'w') as f:
    # create the csv writer
    writer = csv.writer(f)
    writer.writerow(titles)
    # write a row to the csv file
    writer.writerows(x)

In [ ]:
print("Ashneer Total Investment :---", df[df['Ashneer Investment Amount']>0]['Ashneer Investment Amount'].count())
print("Amount Total Invested b Ashneer:",df['Ashneer Investment Amount'].sum()/100,"crr")
print("Equity received by Anshner", round(df['Ashneer Investment Equity'].sum(), 2), "% in different companies\n")
print("Debt/loan amount by Ashneer", round(df['Ashneer Debt Amount'].sum()/100, 2), "crores\n")
AG=df.loc[df['Ashneer Investment Amount']>0][["Startup Name","Industry","Ashneer Investment Amount"]].reset_index()

In [ ]:
hjs=np.array(AG)

In [ ]:
import pickle
import csv

# open the file in the write mode
titles=[	'index	Startup Name'	,'Industry'	,'Ashneer Investment Amount']
x = np.delete(hjs , (), axis=0)
x
with open(r'C:\Users\anshr\OneDrive\Desktop\Shark_Tank\Bhartpe.csv', 'w') as f:
    # create the csv writer
    writer = csv.writer(f)
    writer.writerow(titles)
    # write a row to the csv file
    writer.writerows(x)

In [ ]:
print("Namita Total Investment :---", df[df['Namita Investment Amount']>0]['Namita Investment Amount'].count())
print("Amount Total Invested b Namita:",df['Namita Investment Amount'].sum()/100,"crr")
print("Equity received by Namita", round(df['Namita Investment Equity'].sum(), 2), "% in different companies\n")
print("Debt/loan amount by Namita", round(df['Namita Debt Amount'].sum()/100, 2), "crores\n")
t=df.loc[df['Namita Investment Amount']>0][["Startup Name","Industry","Namita Investment Amount"]].reset_index()

In [ ]:
gh=np.array(t)
gh

In [ ]:
import pickle
import csv

# open the file in the write mode
titles=[	'index	Startup Name'	,'Industry'	,'Namita Investment Amount']
x = np.delete(gh , (), axis=0)
x
with open(r'C:\Users\anshr\OneDrive\Desktop\Shark_Tank\NamitaThapar.csv', 'w') as f:
    # create the csv writer
    writer = csv.writer(f)
    writer.writerow(titles)
    # write a row to the csv file
    writer.writerows(x)

In [ ]:
print("Vineeta Total Investment :---", df[df['Vineeta Investment Amount']>0]['Vineeta Investment Amount'].count())
print("Amount Total Invested b Vineeta:",df['Vineeta Investment Amount'].sum()/100,"crr")
print("Equity received by Vineeta", round(df['Vineeta Debt Amount'].sum()/100, 2), "crores\n")
vine=df.loc[df['Vineeta Investment Amount']>0][["Startup Name","Industry","Vineeta Investment Amount"]].reset_index()

In [ ]:
v=np.array(vine)
v

In [ ]:
import pickle
import csv

# open the file in the write mode
titles=[	'index	Startup Name'	,'Industry'	,'Vineeta Investment Amount']
x = np.delete(v , (), axis=0)
x
with open(r'C:\Users\anshr\OneDrive\Desktop\Shark_Tank\Vinneta.csv', 'w') as f:
    # create the csv writer
    writer = csv.writer(f)
    writer.writerow(titles)
    # write a row to the csv file
    writer.writerows(x)

In [ ]:
df.columns